/*CSS reset settings here*/
* {
    margin: 0px;
    padding: 0px;
}
#wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
}
#header {
    min-height: 150px;
    margin-bottom: 20px;
    background-color: green;
}
#navigation {
    min-height: 300px;
    width: 200px;/*
    margin-top: 20px;*/
    margin-right: 25px;
    display: inline-block;
    background-color: blue;
}
#main_content {
    min-height: 400px;
    width: 700px;
    padding: 10px;/*
    margin-top: 20px;*/
    display: inline-block;
    vertical-align: top;
    background-color: red;
}
.subcontents {
    min-height: 200px;
    width: 210px;
    margin: 5px;
    display: inline-block;
    background-color: yellow;
}
#advertisement {
    min-height: 120px;
    width: 660px;
    margin: 20px 5px;
    background-color: purple;
}
